:root{
    --primary-color:#4D5AE5;
    --pressed-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-color: #2E2F42;
    --herobck-color: #2E2F42;
    --whitebck-color: #FFFF;
    --modalbck-color: #FCFCFC;

    --font-main: "Roboto", sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--whitebck-color);
}

/* Resetting defolt margins for h, p; margins, left-padding for lists */
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* Setting all img as block-elements */
img {
    display: block;
}

/* header */

.header {
}

.header .container {
    display: flex;
        justify-content: space-between;
        align-items: center;
    background-color: var(--accent-color);
}

.navigation {
}

.logo{
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.link {
    text-decoration: none;
}
.nav-menu {
}


.nav-item {

}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--herobck-color);
    text-decoration: none;
}
.nav-link:hover {
    color:var(--pressed-color);
}
.link{
    text-decoration: none;
}
.nav-link:focus {
    color: var(--pressed-color);
}
.accent{
    color: var(--herobck-color);
}
.contact {
    font-style: normal;
}
.contact-list{
    list-style-type: none;

}
.contact-item{

}
.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
}
.link{
    text-decoration: none;
}
.contact-link:hover {
    color: var(--pressed-color);
}
.contact-link:focus {
    color: var(--pressed-color);
}

/* button */
.button{
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.button .container {
    background-color: var(--dark-color);
}

.button-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: var(--whitebck-color);
}
.button-executive {
    display: flex;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-color);
    color:var(--whitebck-color);
    cursor: pointer;
}
.button-executive:hover {
    background-color: var(--pressed-color);
    color:var(--whitebck-color);
    
}
.button-executive:focus {
    background-color: var(--pressed-color);
    color: var(--whitebck-color);

}
/* benefits */
.benefits {
}

.benefits .container {
    padding: 1128 104;
}

.benefits-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
    display: flex;
        flex-wrap: wrap;
        gap: 16px;
        list-style: none;
        margin: o;
        padding: 0;
}
.benefits-item {
}
.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* product */
.product {
}

.product .container {
}

.product-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-color);
    line-height: 1.11;
    text-transform: capitalize;
}
.list {
    list-style-type: none;
}
.product-item {
}
.product-img{
    background-color: var(--accent-color);
}

/* team */
.team {
}

.team .container {
    background-color: var(--light-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-color);
    line-height: 1.11;
    text-transform: capitalize;
}
.list {
    list-style-type: none;
}
.team-item {
    background-color: var(--whitebck-color);
    background-size: 264px, 380px;
}
.team-img {
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    line-height: 1.2;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* footer */
.footer{
}

.footer .container {
    display: block;
    justify-content: flex-start;
    background-color: var(--dark-color);
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color:var(--primary-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.accent-footer{
    color: var(--light-color);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}

/* portfolio-header */
.media-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--herobck-color);
}
.media-link:focus{
    color: var(--pressed-color);
}
.contact-link:focus{
    color: var(--pressed-color);
}

/* portfolio-interactive section */
.interactive-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--light-color);
    cursor: pointer;
}
.interactive-btn:hover{
    color: var(--whitebck-color);
    background-color: var(--pressed-color);
}
.interactive-btn:focus{
    color: var(--whitebck-color);
    background-color: var(--pressed-color);
}

/* portfolio-imgs */
.media-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.media-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
